img {
  max-width: 100%;
  height: auto;
}

.card {
  border: medium solid black;
  width: 400px;
  height: 400px;
}

.card img {
  background-color: blanchedalmond;
  height: 300px;
  object-fit: scale-down;
  object-fit: cover;
  object-fit: none;
  object-fit: contain;
  object-position: left top;
  object-position: 50% 50%;
}